/* BLM header */

.header,
.header a {
  background-color: black;
  text-decoration: none;
  color: white;
  width: 100vw;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
}

/* Project section */

.simon {
  height: 35vh;
  width: 35vw;
  background-image: url('/simons-shapes.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.hike {
  height: 35vh;
  width: 35vw;
  background-image: url('/hike-finder.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.breaking {
    height: 35vh;
    width: 35vw;
    background-image: url('/breaking-bread.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.event {
    height: 35vh;
    width: 35vw;
    background-image: url('/event-tracker.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Navbar section */

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li,
.li a {
  display: inline;
  color: black;
  padding: 0.5vw;
  text-decoration: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Contact section */

.contact {
  text-align: center;
}

/* Title section */
.photo {
  height: 40vh;
  width: 40vw;
  background-image: url('/portfolio-photo.png');
  background-size: contain;
  background-repeat: no-repeat;
}