/* .name {
  font-size: 20vw;
}

.footer {
  width: 100vw;
  height: 10vh;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #EEE2DC;
  line-height: 10vh;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
} */

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  width: 50vw;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

.header {
  background-color: black;
  color: white;
  width: 100vw;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
}

.body {
  background-color: #9DF9EF;
}

.projects {
  width: 50vw;
}

.ul {
  list-style-type: none;
}

.navbar {
  background-color: #9DF9EF;
}

.navbar a {
  float: left;
}

.photo {
  width: 40vw;
  height: 40vh;
  text-align: center;
  float: right;
}

.photo img {
  max-width: 100%;
  max-height: 100%;
}